@import url("https://fonts.googleapis.com/css2?family=Domine&family=Lato&family=Lora&family=Merriweather&family=Poppins&family=Roboto+Serif:opsz@8..144&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.paymentmode-section .container {
  max-width: 1000px;
}
.paymentmode-section .container .paymentmode-main {
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 33px;
}
.paymentmode-section .container .paymentmode-main .icon-image .icon-image-content {
  font-family: "Lora", serif;
}
.paymentmode-section .container .paymentmode-main .icon-image img {
  width: 45px;
  margin: 0px 16px 0px 16px;
  object-fit: contain;
}
.paymentmode-section .container .paymentmode-main .icon-image p {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 16px;
}
.paymentmode-section .container .paymentmode-main .icon-content button {
  width: 150px;
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #0C3072;
  border-radius: 18px;
  font-weight: 500;
  font-size: 17px;
  color: #0C3072;
  font-family: "Poppins", sans-serif;
}
.paymentmode-section .container .paymentmode-main .icon-content button:hover {
  background-color: #0C3072;
  color: #fff;
}
.paymentmode-section .container .paymentmode-main .icon-content p {
  margin: 0px 0px 0px 15px;
  font-weight: 600;
  font-size: 17px;
}
.paymentmode-section .container .paymentmode-main .icon-content .icon-p-con1 {
  color: #11AB36;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin: 0px 20px 0px 0px;
}
.paymentmode-section .container .paymentmode-main .icon-content .icon-p-con2 {
  color: #9C36D4;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin: 0px 20px 0px 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .paymentmode-section .paymentmode-main {
    margin-bottom: 25px !important;
  }
}

nav.bg-light {
  background-color: #fdf4eb !important;
}
nav.bg-light a {
  color: #6200EA !important;
  font-weight: 700;
  font-size: 36px;
  font-family: "Domine", serif;
}

.home__page .banner {
  width: 100%;
  height: 100vh;
  background: url("../assets/images/4680620.jpg") no-repeat;
  background-size: cover;
}
.home__page .banner .banner_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 196px;
}
.home__page .banner .banner_inner h2 {
  font-family: "Roboto Serif", serif;
  font-size: 46px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 64px;
}
.home__page .banner .banner_inner button {
  width: 198px;
  height: 63px;
  font-size: 20px;
  color: #fff;
  background: #6200EA;
  border-radius: 12px;
}
.home__page .products_section {
  margin: 50px 0px;
}
.home__page .products_section .section-heading {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 50px;
}
.home__page .products_section .product-card {
  display: flex;
  padding: 15px 0px;
  margin: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
}
.home__page .products_section .product-card img {
  width: 200px;
  height: 140px;
  object-fit: contain;
}
.home__page .products_section .product-card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.home__page .products_section .product-card .content .product-heading {
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #313131;
}
.home__page .products_section .product-card .content .brand {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #6D6D6D;
}
.home__page .products_section .product-card .content .product-price {
  font-family: "Roboto Serif", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #313131;
}
.home__page .products_section .product-card .content button {
  font-family: "Roboto Serif", serif;
  font-weight: 500;
  padding: 9px 22px;
  color: #6200EA;
  background: #FFFFFF;
  border: 1px solid #6200EA;
  border-radius: 16px;
}
@media (max-width: 767px) {
  .home__page .products_section .product-card {
    margin: 15px;
  }
  .home__page .products_section .product-card img {
    width: 170px;
  }
}
.home__page .owl-nav {
  display: flex;
  gap: 10px;
  position: absolute;
  top: -30px;
  right: 0px;
  width: auto;
}
.home__page .owl-nav button {
  Width: 34px;
  height: 34px;
  background: #FFFFFF !important;
  border-radius: 50px;
  border: 1px solid #C9C9C9 !important;
}
.home__page .owl-nav button i {
  color: #6200EA;
}

footer {
  background: #6200EA;
}
footer .first-image-div img {
  width: 287px;
  height: 223px;
}
footer .middle-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
footer .middle-section .footer-heading {
  font-family: "Roboto Serif", serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
footer .middle-section .quick-links {
  padding-left: 0px;
  display: flex;
  gap: 30px;
}
footer .middle-section .quick-links li {
  list-style: none;
}
footer .middle-section .quick-links li a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto Serif", serif;
}
footer .middle-section p {
  font-family: "Roboto Serif", serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
footer .second-image-div {
  position: relative;
}
footer .second-image-div img {
  position: absolute;
  bottom: -210px;
  right: 0px;
  width: 349px;
  height: 334px;
  z-index: 1;
}

@media (max-width: 767px) {
  nav.bg-light a {
    font-size: 30px;
  }
  .home__page .banner .banner_inner h2 {
    font-size: 30px;
  }
  .home__page .banner .banner_inner button {
    width: 146px;
    height: 48px;
  }
  footer .second-image-div {
    height: 230px;
  }
  footer .second-image-div img {
    bottom: 0px;
  }
  footer .middle-section .quick-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  footer .middle-section p {
    font-size: 20px;
    z-index: 2;
  }
}
