@use './font.scss' as *;

@mixin card {
    .product-card {
        font-family: $font-pop;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin: 20px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
        border-radius: 18px;

        img {
            height: 235px;
            object-fit: contain;
        }

        .content {
            display: flex;
            gap: 15px;
            flex-direction: column;
            justify-content: center;
            // align-items: start;
            gap: 20px;

            .product-heading {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 23px;
                color: #313131;
                text-align: center;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                height: 25px;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .brand {
                // font-family: 'Lato';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #6D6D6D;
            }

            .product-price {
                // font-family: $font-robo;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                text-align: center;
                color: #233570;
            }

            button {
                // font-family: $font-robo;
                font-weight: 500;
                padding: 9px 22px;
                color: #233570;
                background: #FFFFFF;
                border: 1px solid #233570;
                border-radius: 16px;
            }
        }
    }

    @media (max-width: 767px) {
        .product-card {
            margin: 15px;

            img {
                width: 170px;
                height: 140px;
            }
        }
    }
}

@mixin nav {
    .owl-nav {
        display: flex;
        gap: 10px;
        position: absolute;
        top: -30px;
        right: 0px;
        width: auto;

        button {
            width: 34px;
            height: 34px;
            background: #ffffff !important;
            border-radius: 50px;
            border: 1px solid #c9c9c9 !important;

            i {
                color: #233570;
            }
        }
    }
}