@use './mixin.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&family=Merriweather&family=Poppins&family=Roboto+Serif:opsz@8..144&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// SCSS fonts
$font-lora: 'Lora', serif;
$font-meri: 'Merriweather', serif;
$font-pop: 'Poppins', sans-serif;
$font-robo: 'Roboto Serif', serif;
$font-lato: 'Lato', sans-serif;

// header scss 
nav.bg-light {
    background-color: #fdf4eb !important;

    a {
        color: #6200EA !important;
        font-weight: 700;
        font-size: 36px;
    }
}

// home page scss
.home__page {
    .banner {
        width: 100%;
        height: 100vh;
        background: url('../assets/images/4680620.jpg') no-repeat;
        background-size: cover;

        .banner_inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 196px;

            h2 {
                font-family: $font-robo;
                font-size: 46px;
                font-weight: 500;
                line-height: 54px;
                letter-spacing: 0em;
                text-align: center;
                padding-bottom: 64px;
            }

            button {
                width: 198px;
                height: 63px;
                font-size: 20px;
                color: #fff;
                background: #6200EA;
                border-radius: 12px;
            }
        }
    }

    .products_section {
        margin: 50px 0px;
        @include card;
    }
}


@media (max-width: 767px) {
    .home__page {
        .banner {
            h2 {
                font-size: 30px;
            }
        }
    }
}

.swiper {
    width: 600px;
    height: 300px;
  }