@use "./mixin.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Domine&family=Lato&family=Lora&family=Merriweather&family=Poppins&family=Roboto+Serif:opsz@8..144&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

// SCSS fonts
$font-lora: "Lora", serif;
$font-meri: "Merriweather", serif;
$font-pop: "Poppins", sans-serif;
$font-robo: "Roboto Serif", serif;
$font-domi: "Domine", serif;
$font-lato: "Lato", sans-serif;

// header scss
nav.bg-light {
    background-color: transparent !important;

    a {
        color: #6200ea !important;
        font-weight: 700;
        font-size: 36px;
        font-family: $font-domi;
    }
}

// home page scss
.home__page {
    background: #FFF9F3;

    .banner {
        width: 100%;
        height: 100vh;
        background: url("../assets/images/4680620.jpg") no-repeat;
        background-size: cover;

        .banner_inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 196px;

            h2 {
                font-family: $font-robo;
                font-size: 46px;
                font-weight: 500;
                line-height: 54px;
                letter-spacing: 0em;
                text-align: center;
                padding-bottom: 64px;
            }

            button {
                width: 198px;
                height: 63px;
                font-size: 20px;
                color: #fff;
                background: #6200ea;
                border-radius: 12px;
                border: none;
            }
        }
    }

    .products_section {
        padding: 50px 0px;

        .section-heading {
            font-family: $font-lato;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: center;
            margin-bottom: 50px;
        }

        @include card;
    }

    @include nav;
}

footer {
    position: relative;

    .banner-image {
        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .middle-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        position: absolute;
        top: 23%;
        left: 32%;

        .footer-heading {
            img {
                width: 75px;
                object-fit: contain;
            }

            a {
                font-family: $font-robo;
                text-decoration: none;
                font-size: 28px;
                font-weight: 600;
                line-height: 33px;
                letter-spacing: 0em;
                text-align: center;
                color: #233570;
            }
        }

        .quick-links {
            padding-left: 0px;
            display: flex;
            gap: 30px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: #2B2B2B;
                    font-family: $font-robo;
                }
            }
        }

        p {
            font-family: $font-robo;
            font-size: 20px;
            font-weight: 600;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: center;
            color: #2B2B2B;
        }
    }

    @media (min-width: 320px) and (max-width: 767px) {
        .middle-section {
            display: flex;
            flex-direction: column;
            gap: 13px;
            align-items: center;
            position: absolute;
            top: 14%;
            left: 4%;

            .footer-heading {
                a {
                    font-size: 20px;
                }
            }

            p {
                font-size: 17px;
            }
        }
    }
}

.privacy__page,
.terms__page {
    padding-top: 100px;

    .accordion-button {
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 10px 15px;
        font-family: $font-pop;
        font-size: 16px;
        font-weight: 600;
        border-radius: 14px !important;
        -webkit-border-radius: 14px !important;
        -moz-border-radius: 14px !important;
        -ms-border-radius: 14px !important;
        -o-border-radius: 14px !important;
    }

    .side-topic {
        padding-left: 0px;

        li {
            padding-left: 10px;
            border-left: #1b3c74 solid 3px;

            a {
                text-decoration: none;
                color: #1b3c74;
            }

            list-style: none;
            font-family: $font-meri;
            font-size: 16px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 20px;
        }
    }

    .heading-section {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 20px;
            height: 20px;
            margin-bottom: 32px;
        }
    }

    h1,
    h2 {
        font-family: $font-meri;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 32px;
    }

    p {
        font-family: $font-meri;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
    }
}

// about us
.about__page {
    padding-left: 10px;
    padding-right: 10px;

    h1 {
        font-family: $font-meri;
        font-size: 30px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;
        margin: 30px;
    }

    .desc {
        font-family: $font-robo;
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        margin: auto;
        text-align: center;
        width: 583px;
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    p {
        font-family: $font-lato;
        font-size: 18px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.02em;
        text-align: left;
    }
}

// contact us
.contact__page {
    padding-left: 10px;
    padding-right: 10px;

    h1 {
        font-family: $font-meri;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: #222222;
        margin: 40px;
    }

    p {
        font-family: $font-robo;
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        max-width: 583px;
        margin: auto;
    }

    a {
        font-family: $font-robo;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        color: #000;
        margin: 40px;
        display: block;
    }
}

@media (max-width: 767px) {
    nav.bg-light {
        button {
            position: absolute;
            top: 11px;
            left: 10px;
            width: 30px;
            height: 30px;
            // background: #6200EA;
            border: none;
            border-radius: 20px;
            color: #fff;
        }

        a {
            font-size: 30px;
        }

        .menu-items {
            position: absolute;
            left: 0px;
            top: 68px;
            width: 100%;
            height: 0;
            overflow: hidden;
            padding: 20px 20px 0px 20px;
            transition: all 0.3s linear;

            li {
                list-style: none;
                margin-bottom: 20px;

                a {
                    text-decoration: none;
                    color: #000;
                    font-family: $font-lato;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;

                }
            }
        }

        .show-links {
            background-color: #fff;
            height: 12rem;
        }
    }

    .home__page {
        .banner {
            .banner_inner {
                h2 {
                    font-size: 30px;
                }

                button {
                    width: 146px;
                    height: 48px;
                }
            }
        }

        .products_section {
            padding: 20px 0px;
        }
    }

    footer {
        .middle-section {
            .quick-links {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
            }
        }
    }

    .about__page {
        h1 {
            font-size: 24px;
        }

        .desc {
            width: unset;
        }
    }

    .contact__page {
        h1 {
            font-size: 24px;
        }
    }
}

// paymentmode
.paymentmode-section {
    .container {
        max-width: 1000px;

        .payment-main {
            margin-top: 70px;

            .paymentmode-main {
                border-radius: 18px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
                margin-bottom: 33px;

                .icon-image {
                    .icon-image-content {
                        font-family: $font-lora;
                    }

                    img {
                        width: 45px;
                        margin: 0px 16px 0px 16px;
                        object-fit: contain;
                    }

                    p {
                        margin-bottom: 0px;
                        font-weight: 700;
                        font-size: 16px;
                    }
                }

                .icon-content {
                    button {
                        width: 150px;
                        display: flex;
                        height: 45px;
                        align-items: center;
                        justify-content: center;
                        background: #FFFFFF;
                        border: 1px solid #0C3072;
                        border-radius: 18px;
                        font-weight: 500;
                        font-size: 17px;
                        color: #0C3072;
                        font-family: "Poppins", sans-serif;

                        &:hover {
                            background-color: #0C3072;
                            color: #fff;
                        }
                    }

                    p {
                        margin: 0px 0px 0px 15px;
                        font-weight: 600;
                        font-size: 17px;
                    }

                    .icon-p-con1 {
                        color: #11AB36;
                        font-size: 14px;
                        font-family: $font-pop;
                        margin: 0px 20px 0px 0px;
                    }

                    .icon-p-con2 {
                        color: #9C36D4;
                        font-size: 14px;
                        font-family: $font-pop;
                        margin: 0px 20px 0px 0px;
                    }

                }
            }
        }
    }

    @media (min-width: 320px) and (max-width: 767px) {
        .note-container {
            background: #DBEAFE;
            border-radius: 18px;
            margin: 58px 0px 15px 0px;
            padding: 10px 10px 10px 18px;

            h1 {
                font-family: $font-pop;
                font-weight: 700;
                font-size: 16px;
                color: #0C3072;
                ;
            }

            p {
                color: #0C3072;
                font-size: 14px;
                margin-bottom: 0px;
            }
        }

        .container {
            .payment-main {
                margin-top: 0px;

                .paymentmode-main {
                    margin-bottom: 25px;

                    .icon-image {
                        img {
                            width: 40px;
                            margin: 0px 7px 0px 12px;
                        }
                    }

                    .icon-content {
                        button {
                            width: 120px;
                        }

                        .icon-p-con1 {
                            margin: 0px 8px 0px 0px;
                        }

                        .icon-p-con2 {
                            margin: 0px 8px 0px 0px;
                        }

                    }

                }
            }
        }
    }
}

// paymentmode
// checkout form

.checkout-section {
    margin-top: 100px;

    .container {
        margin-top: 70px;

        .rightform {
            .form-inside {
                h1 {
                    font-family: $font-robo;
                    font-weight: 500;
                    font-size: 36px;
                    text-align: center;
                    color: #313131;

                }

                input.form-control {
                    border: 1px solid #D2D2D2;
                    border-radius: 12px;
                    font-family: $font-pop;
                    font-weight: 500;
                    font-size: 14px;
                    color: #B1B1B1;
                    padding: 10px 0px 10px 10px;
                }

                .form-control:focus {
                    box-shadow: none;
                }

                .form-btn {
                    width: 138px;
                    height: 41px;
                    background: #B1B1B1;
                    border: 1px solid #E7E7E7;
                    border-radius: 12px;
                    font-family: $font-pop;
                    font-weight: 500;
                    font-size: 14px;
                    color: #5A5858;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .checkout-section {
        margin-top: 0px;

        .container {
            margin-top: 50px;
        }
    }
}

// checkout form

//mens category
.mens-category {
    margin: 80px 0px 50px 0px;
    h1 {
        font-family: $font-pop;
        text-align: center;
        font-weight: 600;
        font-size: 34px;
    }

    .tshirt-heading {
        h2 {
            font-family: $font-pop;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
            margin-top: 40px;
        }
    }

    @include card
}

//mens category